.fourth_banner_container{
    padding: 50px 120px;
    width: 40%;
    /*border: 1px solid brown;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.fourth_banner_content {
    /*border: 1px solid red;*/
    width: 100%;
    padding: 40px;
}

.fourth_banner_right_header {
    font-size: 45px;
    width: 200px;
    min-width: 100px;
}

.fourth_banner_right_content {
    width: 100%;
}