.product{
    background-color: white;
    padding: 5px;
    background-position: center;
    position: relative;
    margin: 5px 5px;
    /*border: 1px solid gainsboro;*/
    overflow-y: hidden;
    height: 310px;
}

.product_image {
    width: 100%;
    height: 250px;
    transition: all ease 0.5s;
}

.product_image > a > img {
    width: 100%;
    height: 100%;
    object-fit:scale-down;
}

.product_hover {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: 0;
    bottom: -25px;
    height: 70px;
    width: 100%;
    padding: 5px 5px 3px 5px;
    background-color: #fff;
    transition: all ease 0.5s;
}

.product_footer {
    /* border: 1px solid red; */
    width: 100%;
    padding: 2px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.product_footer > h6 {
    width: 100%;
    font-size: 14px;
    letter-spacing: 0.05em;
    line-height: 15px;
    margin: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.product_footer > p {
    font-weight: 600;
    margin: 0;
}
.product_footer > p >span {
    color: orangered;
}

.product_wish_list {
    width: 100%;
    /* border: 1px solid red; */
    margin-top: 5px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.product_wishlist {
    display: flex;
    align-items: center;
}

.product_wishlist > i {
    font-size: 14px;
    margin: 0px 2px 0px 0px;
    opacity: 0.8;
    font-weight: 500;
    cursor: pointer;
}

.product_wishlist > label {
    font-size: 12px;
    margin: 0px 2px 0px 0px;
    opacity: 0.8;
    font-weight: 500;
    cursor: pointer;
}

.product_wishlist_color {
    display: flex;
    align-items: center;
}

.product_wishlist_color > i {
    font-size: 14px;
    margin: 0px 2px 0px 0px;
    color: red;
    opacity: 0.8;
    font-weight: 600;
    cursor: pointer;
}

.product_wishlist_color > label {
    font-size: 12px;
    margin: 0px 2px 0px 0px;
    opacity: 0.8;
    font-weight: 500;
    cursor: pointer;
}

.product_cart {
    background: gray;
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 3px;
    width: 28px;
    height: 26px;
    border-radius: 50%;
    cursor: pointer;
}

.product_cart > i {
    font-size: 14px;
    color: white;
}

.product:hover {
    box-shadow: 0px 0px 3px gray;
    transform: scaleY(1.06)
}
.product:hover .product_hover {
    bottom: 5%;
}
