.first_banner_container{
    /*margin: 0px 10px;*/
    border: 1px solid red;
    padding: 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /*align-items: center;*/
    width: 100%;
}

.first_banner_img{

}
.first_banner_img > a > img{

}