.splash_screen_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 30%;
    margin-top: 300px;
}

.splash_screen_loader_box {
    height: 200px;
    width: 200px;
    display: inline-block;
    border-radius:80%;
    position: relative;
    border: 1px solid rgba(0,0,0,0.3);
    border-top-color: black;
    animation: 2s spin infinite;
}


@keyframes spin {
    to{
        transform: rotate(360deg);
    }
}