.second_banner_container{
    margin: 30px 0px;
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /*align-items: center;*/
    width: 100%;
    /*border: 1px solid red;*/
}

.second_banner_content{
    /*border: 1px solid red;*/
    padding: 0px 100px;
    margin-right: 40px;
}

.second_banner_content > a > img {
    /*border: 1px solid red;*/
    /*height: 100%;*/
    width: 500px;
}

.second_banner_content > a > img:hover{
    transform: scaleZ(1.6);
}

.second_banner_right_content {
    /*border: 1px solid red;*/

}

.second_banner_right_content > a > img {
    width: 500px;
}