.third_banner_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /*border: 1px solid red;*/
    padding: 40px;
}

/* content class */
.third_banner_left_part {
    width: 40%;
    /*border: 1px solid brown;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 100px;

}

.third_banner_left_part .third_banner_left_header{
    font-size: 45px;
    width: 200px;
    min-width: 100px;
    /*border: 1px solid blue;*/
}

.third_banner_left_part .third_banner_left_content {
    /*border: 1px solid blue;*/
    width: 100%;
}

/* button class left data*/
.third_banner_left_part .button_class {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 85%;
    color: black;
    height:auto;
}

.button_class_view {
    background: black;
    opacity: 0.7;
    outline: none;
    border: none;
    height: 40px;
    padding: 0px 5px;
    font-size: 23px;
    width: 30%;
    color: #ffffff;

}

.button_class_collection {
    background: white;
    outline: none;
    border: none;
    font-size: 23px;
    width: 70%;
}

.third_banner_left_content > button {
    /*border: 1px solid black;*/
}