.product_desc_container{
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    width: 100%;
}

.product_desc_view_product{
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px 70px 0px 40px ;
    width: 100%;
}

.product_desc_image {
    width: 50%;
}

.product_desc_content {
    /*border: 1px solid blue;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
    padding: 0px 20px;
}

.product_desc_content_mrp {

}

.product_desc_content_mrp h6 {
    color:black;
    opacity: 0.3;
}
.product_desc_content_mrp p {
    color: black;
    opacity: 0.5;
}
.product_desc_content_size_box {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px 10px;
    margin-top: 30px;
}

.product_desc_content_size_box .size_info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    opacity: 0.5;
}

.product_desc_content_size_box .active {
    color: black;
}

.product_desc_content_size_box_footer{
    border-top: 1px solid black;
    font-size: 12px;
    padding: 10px 0px 0px 0px;
}

.product_desc_content_size_box_footer i {
    margin-right: 20px;
}

.product_desc_content .size_button{
    border: 1px solid black;
    margin: 30px 0px;
    height: 45px;
    text-align: center;
    align-items: center;
    padding: 10px;
    font-weight: bold;
}

.product_desc_content .add button{
    width: 100%;
    color: #ffffff;
    background-color: black;
    height: 45px;
    outline: none;
    border: none;
}

.product_desc_image_bottom {
    /*border:1px solid red;*/
    width: 100%;
    margin-top: 20px;
    padding: 0px 0px 0px 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.product_desc_image_bottom > img {
    margin-right: 20px;
}