.menu_bar_container{
    margin:30px 0px 0px 0px ;
    width: 100%;
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
    box-sizing: border-box;
}

.menu_bar_left_content{
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.menu_bar_left_content > a {
    text-decoration: none;
    margin: 0px 20px;
    color: black;
}

.menu_bar_logo{
    /*border: 1px solid black;*/
}
.menu_bar_right_content{
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.menu_bar_right_content i{
    margin: 0px 20px;
    font-size: 16px;
    color: gray;
}

@media screen and (min-width: 900px) and (max-width: 1150px){

    .menu_bar_container{
        margin:30px 0px 0px 0px ;
        width: 100%;
        /*border: 1px solid red;*/
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 0px;
        box-sizing: border-box;
    }

    .menu_bar_left_content{
        /*border: 1px solid black;*/
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .menu_bar_left_content > a {
        text-decoration: none;
        margin: 0px 15px;
    }

    .menu_bar_logo{
        /*border: 1px solid black;*/
    }
    .menu_bar_right_content{
        /*border: 1px solid black;*/
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .menu_bar_right_content i{
        margin: 0px 20px;
        font-size: 16px;
    }
}